html {
  height: 100vh;
  width: 100vw;
}

body {
  background: linear-gradient(217deg, #360168e8, #360168ad 70.71%),
    linear-gradient(127deg, #ff00aaec, #ff00aa67 70.71%),
    linear-gradient(336deg, #00581de8, #00581d8a 70.71%);
}

.App {
  text-align: center;
}

.title {
  font-family: 'Courgette', cursive;
}

.login-form {
  max-width: 35em;
  margin: 1em auto;
  padding: 1em;
  box-shadow: 1px 1px 4px #fff;
  border-radius: .5em;
}

.login-form__input {
  display: block;
  height: 2em;
  margin: 1em auto;
  border-radius: .5em;
}